<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "electricista.jpg", :alt => "electricista", :title => "Electricista"%>
    </div>

    <div class="item">
      <%= image_tag "gasfiteria.jpg", :alt => "gasfiteria", :title => "Gasfiteria"%>
    </div>

    <div class="item">
      <%= image_tag "nineras.jpg", :alt => "nineras", :title => "Ni単eras"%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  
  
<div class="divinfo">
  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-light">Pasos para buscar quien hara tu chamba</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag "publica.png", :alt => "publica", :title => "Publica"%>
      <article class="divart">
        1. Publique su trabajo
      </article>
    </div>
    <div class="col-lg-3">
      <%= image_tag "selecciona.png", :alt => "selecciona", :title => "Selecciona"%>
      <article class="divart">
        2. Seleccione el perfil del trabajador
      </article>
    </div>
    <div class="col-lg-3">
      <%= image_tag "paga.png", :alt => "contactar", :title => "Contactar"%>
      <article class="divart">
        3. Conctactese directamente con el trabajador
      </article>
    </div>
    <div class="col-lg-3">
      <%= image_tag "acepta.png", :alt => "paga", :title => "Paga"%>
      <article class="divart">
        4. Cancele a travez de la app al trabajador
      </article>
    </div>
  </div>  
  
  <div class="row">
    <h1>Categorias</h1>  
  </div>
    
  <div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="divmarcos">
                <%= image_tag "ico_gasfiteria.png", :alt => "selecciona", :title => "Gasfiteria", :height =>"200" %>
                <article>
                  <h3>Gasfiteria</h3>
                </article>
              </div>
            </div>
            <div class="col-lg-1"></div>
            
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="divmarcos">
                <%= image_tag "ico_ama.jpg", :alt => "selecciona", :title => "Ama de casa", :height =>"200" %>
                <article>
                  <h3>Ama de Casa</h3>
                </article>
              </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
  </div>
  
  <div>
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="divmarcos">
              <%= image_tag "ico_nineras.jpg", :alt => "selecciona", :title => "Nineras", :height =>"200" %>
              <article>
                <h3>Ni単eras</h3>
              </article>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="divmarcos">
              <%= image_tag "ico_albanil.png", :alt => "selecciona", :title => "Alba単iles", :height =>"200" %>
              <article>
                <h3>Alba単iles</h3>
              </article>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
    </div>
  </div>
  
</div>
