<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @trabajador.apellidos %>
</p>

<p>
  <strong>Oficio:</strong>
  <%= @trabajador.oficio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @trabajador.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @trabajador.direccion %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
