<p id="notice"><%= notice %></p>

<h1>Lista de Anuncios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Fecha</th>
      <th>Requisitos</th>
      <th>Vacante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td><%= anuncio.titulo %></td>
        <td><%= anuncio.contenido %></td>
        <td><%= anuncio.fecha %></td>
        <td><%= anuncio.requisitos %></td>
        <td><%= anuncio.vacante %></td>
        <td><%= link_to 'Show', anuncio %></td>
        <td><%= link_to 'Edit', edit_anuncio_path(anuncio) %></td>
        <td><%= link_to 'Destroy', anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anuncio', new_anuncio_path %>
